.container {
  text-align: center;
  background-color: #d9edf7;
}

.container-fluid {
  text-align: left;
  margin-top: 20px;
}

.row {
  text-align: left;
  margin-top: 10px;
}

.table {
  margin-top: 20px;
  text-align: left;
}

.profile-pic {
  width: 70px;
  height: 70px;
}

.post-area {
  width: 60%;
}
